[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipywidgets = "*"
jupyterlab-widgets = "*"
ipdb = "*"
sentence-transformers = "*"
umap-learn = "*"
ijson = "*"

[packages]
transformers = "*"
matplotlib = "*"
seaborn = "*"
jupyterlab = "*"
fire = "*"
sklearn = "*"
datasets = "*"
hatespeech-classification = {editable = true, path = "."}
torch = "*"
pytest = "*"
pandarallel = "*"
emoji = "*"
pysentimiento = {editable = true, path = "./pysentimiento"}

[requires]
python_version = "3.8"
